.best-companies {
  display: none;
  max-width: 407px;
}

@media (min-width: 768px) {
  .best-companies {
    padding: 20px 10px;
    grid-column: 2;
    grid-row: span 2;
    align-self: flex-start;
    display: grid;

    &__title {
      margin: 0;
      padding: 0;
      padding-bottom: 23px;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #161616;
    }

    &__lists {
      display: grid;
      row-gap: 16px;
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__list {
      display: grid;
      grid-template-columns: 28px auto auto;
    }

    &__company {
      &-img {
        width: 24px;
        background-image: url(../../images/str.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &-name {
        margin: 0;
        padding: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 90%;
        justify-self: flex-start;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 12px;
        color: #000000;
        align-self: center;
      }
      &-score {
        margin: 0;
        padding: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 12px;
        display: flex;
        align-items: center;
        color: #4496F6;

        &-text {
          display: none;
        }
      }
    }
  }
}


@media (min-width: 1024px) {
  .best-companies {
    &__list {
      column-gap: 12px;
      grid-template-columns: 42px minmax(100px, 208px) 85px;
    }
    &__title {
    margin: 0 auto;
    max-width: 224px;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    }

    &__company {
      
      &-img {
        background-size: cover;
        max-width: 100%;
      }
      &-name {
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}

@media (min-width: 1280px) {
  .best-companies {
    &__title {
      grid-column: span 3;
    }
    &__company {
      &-img {
        grid-column: 1;
      }
      &-name {
        grid-column: 2;
        font-size: 14px;
        line-height: 17px;
      }
      &-score-text {
        text-align: center;
        padding-left: 5px;
        font-weight: normal;
        display: block;
        color: black;
      }
    }
  }

}