.main {
  margin-top: 16px;
  display: grid;
  row-gap: 16px;
}

@media (min-width: 768px) {
  .main {
    padding: 20px 24px 24px 24px;
    grid-template-columns: 1fr 24%;
    grid-template-rows: auto auto;
    column-gap: 24px;
    row-gap: 24px;
  }
}