.main {
  margin: 0 auto;
  margin-top: 16px;
  display: grid;
  row-gap: 16px;
  max-width: 1280px;
}

@media (min-width: 768px) {
  .main {
    padding: 20px 24px 24px 24px;
    grid-template-columns: minmax(320px, 843px) auto;
    grid-template-rows: auto auto;
    column-gap: 24px;
    row-gap: 24px;
  }
}

@media (min-width: 1280px) {
  .main {
    grid-template-columns: minmax(800px, 843px) 1fr;
  }
}