.block {
  border-radius: 5px;
  background-color: #fff;

  &_type_left-line {
    position: relative;
    padding: 12px 16px 19px 17px;

    &:before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      bottom: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      border-left: 4px solid #4496f6;
    }
    
  }
}