.menu {
  margin-top: 0;
  padding: 42px 16px 59px 16px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  box-sizing: border-box;
  background-color: #fff;
  list-style: none;
  transition: transform .3s ease-out;
  &__close-button {
    position: absolute;
    top: 6px;
    right: 16px;
    
  }
  &__logo {
    padding: 0;
    margin: 0;
    max-width: 209px;
    height: 50px;
    width: 100%;
    background-size: cover;
  }
  &__add-company-button {
    display: block;
    margin: 11px 0 20px 0;
    max-width: 209px;
    font-size: 14px;
    line-height: 17px;
  }
  &__item {
    padding: 24px 0;
    border-bottom: 1px solid #F3F4F8;
    transition: opacity .2s ease;
    &:hover {
      opacity: .6;
    }
  }
  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #161616;
    text-decoration: none;
    display: flex;

    
    &-icon {
      margin-right: 12px;
      width: 100%;
      max-width: 18px;
      height: 18px;
    }
  }

  &_type_hidden {
    //margin-top: -200%;
    transform: translateY(-200%);
  }

}

@media (min-width: 1024px) {
  .menu {
    grid-column: span 3;
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: inherit;
    transition: transform 0s linear;
    transform: translateY(0);
    flex-direction: row;
    margin-top: 5px;
    border-top: 1px solid #F3F4F8;
    &__logo, &__close-button, &__add-company-button {
      display: none;
    }
    &__item {
      padding: 9px 42px 9px 42px;
      border: none;
      border-right: 1px solid #F3F4F8;
      &:first-of-type {
        padding-left: 0;
        border-left: none;
      }
      &:last-of-type {
        padding-right: 0;
        border-right: none;
      }
    }
    &__link {
      display: flex;
      flex-direction: row;
    }
  }
}