.header {
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #fff;
  padding: 6px 16px;
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto repeat(2, 32px);
  align-items: center;
  position: relative;
  max-width: 1280px;


  &__logo {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 116px;
    height: 28px;
    display: block;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    flex: 1 0 auto;
  }

  &__button {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 100%;
    max-width: 32px;
    height: 32px;
    border-radius: 2px;
    background: no-repeat center;
    background-color: #fafafa;
    
    &_type {
      &_search {
        background-image: url(../../images/search.svg);
      }
      &_menu {
        background-image: url(../../images/menu.svg);
      }
    }
  }



  &__search-form {
    display: none;
    width: 50%;
    position: absolute;
    top: 6px;
    right: 16px;
    box-sizing: border-box;
    border-radius: 2px;

    &-submit {
      border: none;
      max-width: 32px;
      height: 32px;
      width: 100%;
      background: url(../../images/search.svg) center no-repeat;
      border: 1px solid #347DB8;
      border-radius: 3px 0 0 3px;
    }
    &-input {
      width: 100%;
      border: none;
      border: 1px solid #347DB8;
      border-radius: 0 3px 3px 0;      
    }
    &-close {
      position: absolute;
      top: calc(50% - 12px);
      right: 4px;
      width: 24px;
      height: 24px;
      background: url(../../images/search-close.svg) #F3F4F8 center no-repeat;
      border-radius: 3px;
      border: none;      
    }

  }

  &__add-company-button {
    display: none;
    margin: 0;
    padding: 9px 0;
    background: #4496F6;
    border-radius: 4px;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    border: none;
  }

  &__search-form_type_visible {
    display: flex;
  }
}

@media (min-width: 768px) {
  .header {

    grid-template-columns: 209px auto 40px;
    column-gap: 55px;
    &__logo {
      width: 100%;
      max-width: 209px;
      height: 50px;
    }

    &__button {
      width: 100%;
      min-width: 40px;
      height: 40px;
      &_type {
        &_search {
          display: none;
        }
      }
    }

    &__search-form {
      top: 0;
      right: 0;
      position: relative;
      display: flex;
      align-items: center;
      justify-self: flex-end;
      width: 100%;
      &-submit {
        width: 100%;
        max-width: 64px;
        height: 41px;
        background: #F8F8F8;
        border: 1px solid rgba(52, 125, 184, 0.15);
        box-sizing: border-box;
        border-radius: 8px 0px 0px 8px;
        background-image: url(../../images//search.svg);
        background-size: 30%;
        background-position: center;
        background-repeat: no-repeat;
      }
      &-input {
        padding: 11px;
        background: #FAFAFA;
        border: 1px solid rgba(52, 125, 184, 0.1);
        box-sizing: border-box;
        border-radius: 0 8px 8px 0;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #717171;
        min-width: 280px;
        width: 100%;
      }

      &-close {
        display: none;
      }
    }
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: 209px auto 180px;
    &__button {
      display: none;
    }
    &__add-company-button {
      display: flex;
    }
  }
}